/* FUENTE */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

/* ---HEADER--- */
body {
  font-family: "Poppins";
}

.header__background--foto {
  background-image: url(../images/bg.jpeg);
  background-repeat: no-repeat;
  background-position-y: 13%;
  background-position-x: 50%;
  background-size: cover;
  padding: 15px 0 10px 0;
  color: white;
}

.header__titulo--fondo-translucido {
  margin-top: 3rem;
  background-color: rgba(199, 197, 197, 0.497);
  font-family: "Poppins";
}

.navbar {
  padding-top: 3rem;
}

.navbar-toggler {
  border: solid 2px;
  background-color: rgba(199, 197, 197, 0.377);
}

.nav__bar {
  justify-content: center;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.active {
  font-family: "Roboto";
  text-decoration: underline;
}

/* MAIN */

main {
  margin-bottom: 5rem;
}
p {
  line-height: 1.7;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bio__subtitulo {
  font-family: "Roboto";
  border-top: solid 3px #980d0d;
  border-bottom: solid 3px #980d0d;
  margin: 1rem auto;
  padding: 1rem;
}

.direccion__icono {
  color: #e81313;
  font-size: 2.5rem;
}

.direccion__icono:hover {
  transform: translate3d(0, -0.125rem, 0);
}

/* FOOTER */

.footer {
  background-color: rgba(128, 128, 128, 0.481);
  color: white;
  font-family: "Roboto";
}

.footer__redes__texto {
  padding-top: 0.3rem;
  font-size: 1.3rem;
}

.footer__redes__icono {
  color: white;
  font-size: 1.3rem;
  padding: 0 10px;
}

.footer__redes__icono:hover {
  transform: translate3d(0, -0.125rem, 0);
}

.footer__mail__icono {
  font-size: 1.3rem;
}
.footer__mail {
  gap: 0 1rem;
}

.footer__mail h6 {
  padding-top: 0.4rem;
  font-size: 1.2rem;
}

/* /PAGES/ */
.main__titulo {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* -PACIENTES- */
.card-group {
  justify-content: center;
}

.tarjeta {
  padding: 0 1rem;
  text-align: center;
}

.card {
  background-color: rgba(65, 89, 176, 0.096);
}

.card-title {
  font-family: "Roboto";
  margin-bottom: 1rem;
  margin-top: 0.6rem;
}

.card-text {
  padding-bottom: 1rem;
}

.tarjeta__video {
  padding-bottom: 2rem;
}

/* -TESTIMONIOS- */
.carousel {
  width: 80%;
  height: 350px;
  margin: 3rem auto 2rem auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-item {
  height: 350px;
}

.carousel__img__1 {
  position: absolute;
  top: -10%;
}
.carousel__img__0 {
  position: absolute;
  top: -30%;
}

.carousel__img__2 {
  position: absolute;
  top: -10%;
}

.carousel-caption {
  font-style: italic;
  color: rgb(255, 255, 255);
  width: 90%;
  left: 3rem;
  font-size: large;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.caption--left {
  width: 50%;
  left: 0rem;
}

.caption--right {
  width: 50%;
  left: 17rem;
  text-align: right;
}

.testimonios__texto--mobile {
  width: 80%;
  margin: 2rem auto 7rem auto;
}

.caption {
  text-align: center;
  margin-top: 2rem;
}
.caption p {
  font-style: italic;
  border: dashed 1px rgb(147, 3, 3);
  padding: 1rem;
}

/* TRAYECTORIA */
.container--marginbottom {
  margin-bottom: 7rem;
}

.trayectoria__subtitulo {
  width: 70%;
  text-align: center;
  font-family: "Roboto";
  border-top: solid 3px #980d0d;
  border-bottom: solid 3px #980d0d;
  margin: 1rem auto 3rem auto;
  padding: 1rem;
}

.trayectoria__texto {
  text-align: center;
  padding: 0px 1rem;
}

.trayectoria__lista {
  font-family: "Roboto";
}

.trayectoria__listitem:nth-child(even) {
  margin-top: 2rem;
  background-color: #375d9752;
  border: solid 2px #375d97;
}

.trayectoria__listitem:nth-child(odd) {
  background-color: #375d971c;
  border: solid 2px #375d97;
  margin-top: 2rem;
}

/* CONTACTO */
.contacto__formulario {
  padding: 1.5rem;
}
.contacto__mensaje {
  height: 300px;
}

.contacto__info {
  display: flex;
}

.direccion__icono.contacto {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.telefono {
  display: inline-block;
  justify-content: center;
}
.telefono__icono {
  font-size: 1.6rem;
  align-self: flex-start;
  padding-right: 0.8rem;
  padding-top: 0.3rem;
}

/* !!!MEDIA QUERIES!!! */

@media (min-width: 768px) {
  .nav__bar {
    font-size: 1.25rem;
  }

  .carousel {
    width: 60%;
    margin-bottom: 8rem;
    height: 500px;
  }
  .carousel-item {
    height: 500px;
  }
  .carousel__img__0 {
    top: -25%;
  }
  .carousel__img__1 {
    top: -25%;
  }
}

@media (min-width: 992px) {
  .carousel {
    height: 600px;
  }
  .carousel-item {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  .carousel {
    height: 700px;
  }

  .carousel-item {
    height: 700px;
  }

  .carousel__img__0 {
    top: -30%;
  }
  .carousel__img__1 {
    top: -25%;
  }

  .carousel__img__2 {
    top: -15%;
  }
}
