/* VARIABLES */
* {
  margin: 0;
  padding: 0;
}

/* FUENTE */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
body {
  font-family: "Poppins";
}

/* ---HEADER--- */
header .header__background--foto {
  background-image: url(../images/bg.jpeg);
  background-repeat: no-repeat;
  background-position-y: 13%;
  background-position-x: 50%;
  background-size: cover;
  padding: 15px 0 10px 0;
  color: white;
}
header .header__background--foto .header__titulo--fondo-translucido {
  margin-top: 3rem;
  background-color: rgba(199, 197, 197, 0.497);
  font-family: "Poppins";
}
header .navbar {
  padding-top: 3rem;
}
header .navbar .navbar-toggler {
  border: solid 2px;
  background-color: rgba(199, 197, 197, 0.377);
}
header .navbar .nav__bar {
  justify-content: center;
  font-weight: bold;
  transition: all 1s ease;
}
header .navbar .nav__bar .nav-link, header .navbar .nav__bar .active {
  text-decoration: underline transparent;
  transition: all 0.5s ease;
}
header .navbar .nav__bar .nav-link:hover, header .navbar .nav__bar .active {
  text-decoration: underline white;
}
/* FOOTER */
.footer {
  background-color: rgba(128, 128, 128, 0.481);
  color: white;
  font-family: "Roboto";
}
.footer .footer__redes__texto {
  padding-top: 0.3rem;
  font-size: 1.3rem;
}
.footer .footer__redes__icono {
  color: white;
  font-size: 1.3rem;
  padding: 0 10px;
}
.footer .footer__redes__icono:hover, .footer header .navbar .nav__bar .footer__redes__icono.active, header .navbar .nav__bar .footer .footer__redes__icono.active {
  transform: translatey(-0.125rem);
}
.footer .footer__mail {
  gap: 0 1rem;
}
.footer .footer__mail .footer__mail__icono {
  font-size: 1.3rem;
}
.footer .footer__mail h6 {
  padding-top: 0.4rem;
  font-size: 1.2rem;
}

/* INICIO */
main {
  margin-bottom: 5rem;
}

p {
  line-height: 1.7;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bio .bio__subtitulo {
  font-family: "Roboto";
  border-top: solid 3px #980d0d;
  border-bottom: solid 3px #980d0d;
  margin: 1rem auto;
  padding: 1rem;
}
.bio .bio__list {
  text-align: left;
  margin-bottom: 2rem;
}
.bio .bio__list li {
  margin-top: 1rem;
}
.bio .direccion__icono {
  color: #e81313;
  font-size: 2.5rem;
}
.bio .direccion__icono:hover, .bio header .navbar .nav__bar .direccion__icono.active, header .navbar .nav__bar .bio .direccion__icono.active {
  transform: translate3d(0, -0.125rem, 0);
}

.direccion__icono {
  color: #e81313;
  font-size: 2.5rem;
}

.gallery {
  animation: img-appear 3s ease;
}

@keyframes img-appear {
  0% {
    opacity: 0;
    transform: translatex(-80px);
  }
  100% {
    opacity: 1;
    transform: translatex(0px);
  }
}
/* /PAGES/ */
.main__titulo {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* -PACIENTES- */
.card-group {
  justify-content: center;
  animation: card-appear 2s;
}
.card-group .tarjeta {
  padding: 0 1rem;
  text-align: center;
}
.card-group .tarjeta .card {
  background-image: linear-gradient(rgba(65, 89, 176, 0.096), rgba(55, 93, 151, 0.3215686275));
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.card-group .tarjeta .card-title {
  font-family: "Roboto";
  margin-bottom: 1rem;
  margin-top: 0.6rem;
}
.card-group .tarjeta .card-text {
  padding-bottom: 1rem;
}
.card-group .tarjeta .card__list {
  list-style-type: none;
  padding: 0;
}
.card-group .tarjeta__video {
  padding-bottom: 2rem;
}

@keyframes card-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* -TESTIMONIOS- */
.carousel {
  width: 80%;
  height: 350px;
  margin: 3rem auto 2rem auto;
}
.carousel .carousel-item {
  height: 350px;
}
.carousel .carousel-item .carousel__img__1 {
  position: absolute;
  top: -10%;
}
.carousel .carousel-item .carousel__img__0 {
  position: absolute;
  top: -30%;
}
.carousel .carousel-item .carousel__img__2 {
  position: absolute;
  top: -10%;
}
.carousel .carousel-item .caption--right {
  width: 50%;
  left: 17rem;
  text-align: right;
}
.carousel .carousel-item .carousel-caption {
  background-color: rgba(0, 0, 0, 0.442);
  font-style: italic;
  color: rgb(255, 255, 255);
  width: 90%;
  left: 3rem;
  font-size: large;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.testimonios__texto--mobile {
  width: 80%;
  margin: 2rem auto 7rem auto;
}
.testimonios__texto--mobile .caption {
  text-align: center;
  margin-top: 2rem;
}
.testimonios__texto--mobile .caption p {
  font-style: italic;
  border: dashed 1px rgb(147, 3, 3);
  padding: 1rem;
}

/* TRAYECTORIA */
.container--marginbottom {
  margin-bottom: 7rem;
}
.container--marginbottom .trayectoria__subtitulo {
  width: 70%;
  text-align: center;
  font-family: "Roboto";
  border-top: solid 3px #980d0d;
  border-bottom: solid 3px #980d0d;
  margin: 1rem auto 3rem auto;
  padding: 1rem;
}
.container--marginbottom .trayectoria__texto {
  text-align: center;
  padding: 0px 1rem;
}
.container--marginbottom .trayectoria__lista {
  font-family: "Roboto";
}
.container--marginbottom .trayectoria__lista .trayectoria__listitem:nth-child(odd), .container--marginbottom .trayectoria__lista .trayectoria__listitem:nth-child(even) {
  background-image: linear-gradient(rgba(65, 89, 176, 0.096), rgba(55, 93, 151, 0.3215686275));
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border: 0;
}
.container--marginbottom .trayectoria__lista .trayectoria__listitem:nth-child(even) {
  margin: 2rem 0;
}

/* CONTACTO */
.contacto__formulario {
  padding: 1.5rem;
}
.contacto__formulario .contacto__mensaje {
  height: 300px;
}

.contacto__info {
  display: flex;
}
.contacto__info .direccion__icono.contacto {
  color: #e81313;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.contacto__info .telefono {
  display: inline-block;
  justify-content: center;
}
.contacto__info .telefono .telefono__icono {
  font-size: 1.6rem;
  align-self: flex-start;
  padding-right: 0.8rem;
  padding-top: 0.3rem;
}

@media (min-width: 768px) {
  .nav__bar {
    font-size: 1.25rem;
  }
  .carousel {
    width: 60%;
    margin-bottom: 8rem;
    height: 500px;
  }
  .carousel .carousel-item {
    height: 500px;
  }
  .carousel .carousel__img__0 {
    top: -25%;
  }
  .carousel .carousel__img__1 {
    top: -25%;
  }
}
@media (min-width: 992px) {
  .bio__list {
    margin-left: 2rem;
  }
  .gallery__img {
    max-width: 300px;
    height: auto;
  }
  .carousel {
    height: 600px;
  }
  .carousel-item {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .index__main {
    width: 80%;
    margin: auto;
  }
  .index__main .bio__list {
    margin: 2rem;
  }
  .index__main .gallery__img {
    max-width: 400px;
    height: auto;
  }
  .carousel {
    height: 700px;
  }
  .carousel .carousel-item {
    height: 700px;
  }
  .carousel .carousel__img__0 {
    top: -30%;
  }
  .carousel .carousel__img__1 {
    top: -25%;
  }
  .carousel .carousel__img__2 {
    top: -15%;
  }
}

/*# sourceMappingURL=style.css.map */
