/* VARIABLES */
$title-border: solid 3px #980d0d;
$grey-bg: rgba(65, 89, 176, 0.096);
$blue-bg: #375d9752;
$card-gradient: linear-gradient($grey-bg, $blue-bg);
$shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
